<!doctype html>
<head>
    <meta charset="utf-8" />
    <title>React Test</title>
</head>
<body>
    <div id="page"></div>
    <script src="/javascripts/plugins/react/react-0.14.7.min.js"></script>
    <script src="/javascripts/plugins/react/react-dom-0.14.7.min.js"></script>
    <script type="text/javascript">
        var currentUser={
            status: 'out',
            info: {
                name: '',
                role: ''
            },
            msg: ''
        }
    </script>
    <script src="/javascripts/__build__/app.min.js"></script>
</body>

</html>